@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&family=Secular+One&display=swap');

body {
  /* background-color: #393939; */
  background-image: url(../assets/bg-5.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto auto auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 16px;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #f5f5f5;
}

#navbar h1 {
  font-family: 'Lilita One', cursive;
  font-size: 40px;
  font-weight: 600;
  color: #f3aafaec;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin-left: 16px;
  cursor: pointer;
}

#navbar h1:hover {
  color: #eeaef8;
}

#navbar h1:active {
  color: #aef8f0;
}

#menu a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#menu a:hover {
  color: #eeaef8;
}

#menu a:active {
  color: #aef8f0;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  margin: 100px auto auto auto;
  background-color: #d6d8d97f;
  width: 720px;
  border-radius: 20px;
  box-shadow: 0 10px 15px 3px rgba(239, 244, 249, 0.1);
  text-align: center;
}

#home h2 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  font-weight: 600;
  color: #aef8f0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 8px;
}

#home p {
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #c6b3eeda;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 8px;
}

.calculator-container {
  width: 400px;
  border-radius: 16px;
  box-shadow: 0 10px 15px 3px rgba(239, 244, 249, 0.1);
}

.app-quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto auto auto;
}

.prompt-quote {
  display: flex;
  justify-content: center;
  margin: 100px auto auto auto;
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #aef8f0;
}

.quote-container {
  background-color: #d6d8d9d0;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 10px 15px 3px rgba(239, 244, 249, 0.1);
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.main-app {
  padding: 8px;
  border-radius: 16px;
  background-color: #d9d6d6;
}

.headline {
  color: rgba(153, 235, 255, 0.85);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.author {
  color: rgba(255, 204, 153, 0.9);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.quote-data {
  padding: 4px;
  text-size-adjust: 100%;
  color: rgba(202, 251, 251, 0.9);
  text-shadow: 1px 1px 3px rgba(121, 121, 118, 0.8);
}

.calculator__output-screen {
  background-color: rgb(145, 154, 162);
  color: aliceblue;
  text-align: end;
  font-size: 26px;
  font-weight: 600;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 16px;
  box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1);
}

.calculator__numbers-container {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.num,
.calculator__operator {
  padding: 6px;
}

.calculator__row .num,
.calculator__row .calculator__operator {
  text-align: center;
  background-color: #d9d6d6;
}

.num button {
  padding: 20px;
  width: 100%;
  background-color: antiquewhite;
  border: none;
  outline: none;
  border-radius: 16px;
  box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1);
}

.calculator__operator button {
  padding: 20px;
  width: 100%;
  background-color: #ea833d;
  border: none;
  outline: none;
  border-radius: 16px;
  box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1);
}

.num button:hover {
  background-color: #f5f5f5;
  color: #ea833d;
}

.calculator__operator button:hover {
  background-color: #f5f5f5;
  color: rgb(0, 67, 237);
  font-weight: 600;
}

.num button:active {
  background-color: #ecf5fc;
  color: #3d85ea;
}

.calculator__operator button:active {
  background-color: #ddeff4;
  color: rgb(238, 146, 65);
  font-weight: 600;
}
